__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/

# uv cache (ne pas committer le cache local)
.uv_cache/

# Backup files
*.backup

# coverage reports
.coverage

.task/
